@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

* {
  font-family: 'Outfit', sans-serif;
}

@theme {
  --color-dark-bg: #1f1f1f;
  --color-input-bg: #3a3a3a;

  --shadow-bottom-navbar-left: 4.1px -5px 0 0 #ffffff;
  --shadow-bottom-navbar-right: -4.1px -5px 0 0 #ffffff;
}
