@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

* {
  font-family: 'Outfit', sans-serif;
}

@theme {
  --color-dark-bg: #1f1f1f;
  --color-input-bg: #3a3a3a;
}
